
.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.header {
  background-color: #565656;
  font-size: 3rem;
  font-weight: 900;
  color: transparent;
  text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.middle {
	display: flex;
	justify-content: center;
	align-items: center;
}


.scoreboard__wrapper {
	font-family: cursive;
	display: grid;
	place-items: center;
}

.scoreboard {
	display: flex;
	justify-content: space-between;
	min-width: 20rem;
}

.scoreboard span {
	margin-left: 1.5rem;
	color: red;
}

.footer {
	/* background: var(--blue); */
	height: 10vh;
}

.page {
	background: #FFFFFF;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.15);
	width: 90vw;
	max-width: 900px;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.st-flags {
	display: flex;
	margin-bottom: 4rem;
	flex-wrap: wrap;
	margin: 0 2rem 4rem 2rem;
}

.button {
	background: var(--grey2);
	color: var(--grey1);
	font-size: 2rem;
	font-weight: 700;
	padding: 4rem;
	border: 1px solid #E6E6E6;
	box-shadow: 0 2px 4px 0 rgba(166,166,166,0.50);
	cursor: pointer;
}

.button:hover {
	background: #E6E6E6;
}

.btn-square {
	padding: 4rem;
}

.link {
	color: blue;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
}

.alternatives {
	margin-top: 2rem;
}

.alt {
	background: #F0F0F0;
	border: 1px solid #E6E6E6;
	margin: 1rem;
	width: 80vw;
	max-width: 700px;
	text-align: center;
	padding: 0.9rem;
	font-size: 1.6rem;
	position: relative;
}

.grid-alternatives {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 900px;
}

.grid-alt {
	display: grid;
	place-items: center;
	max-width: 400px;
	min-height: 150px;
}

.alt-green {
	color: #ffffff;
	background: #38B134;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
}
.alt-red {
	color: #ffffff;
	background: #B13434;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
}
.alt-label {
	position: absolute;
	right: -10px;
	top: 1rem;
	color: #ffffff;
	font-size: 1.2rem;
	background: #3E3E3E;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.15);
	border-radius: 24.5px;
	padding: 0.2rem 1rem;
}

.quick-results {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 700;
	background: #3E3E3E;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.15);
	border-radius: 24.5px;
	padding: 0.7rem 2rem;
}

.results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.re-text {
	font-size: 2.5rem;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.2);
	margin: 2rem 1rem;
	text-align: center;
}
.re-home {
	margin-top: 2rem;
}

.CookieBanner {
	position: absolute;
	bottom: 0;
	background-color: peachpuff;
	left: 50%;
	transform: translate(-50%, -50%);

}

.CookieWrapper{
	position: relative;
	padding: 1rem 2rem;
}

.CookieCheckbox {
	display: flex;
	gap: 0.5rem;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate( -10%, -95%);
}

.CookieCheckbox_Cookie{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.CookieCheckbox_Cookie span{
	height: 2rem;
	width: 2rem;
	color: white;
	border-radius: 6px 6px 0px 0px;
	display: grid;
	place-items: center;
	border: peachpuff 3px solid;
	cursor: pointer;
}

.CookieCheckbox_Cookie h6{
	font-size: 0.8em;
	margin: 0;
	margin-bottom: 0.2rem;
	color:red;
}

.cookie-wrapper {
	background-color: #fff;
	max-width: 400px;
	padding: 2rem 3rem;
}

.cookie-processor__wrapper {
	background-color: #f3f0f0;
	width: 100%;
	max-width: 60rem;
}

.cookie-processor {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.cookie-processor__content-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color:#222;

}
.cookie-processor__header {
	padding: 1rem 2rem;
	background-color: #E6E6E6;
	font-family: monospace;
	font-size: 1.5em;
	text-transform: capitalize;
}

.cookie-processor__content {
	background-color: #f3f0f0;
}
.cookie-processor__content p {
	width: 50ch;
	max-width: 50ch;
	/* flex-grow: 1; */
	padding: 0 2rem;
}
.cookie-processor__content h4,h5{
	font-family: monospace;
	padding: 0 2rem;
	min-width: 20%;
	/* flex-grow: 1; */
}

.cookie-processor__content h4:nth-child(odd){
	background-color: rgb(42, 52, 65);
	padding:.5rem;
	color:#E6E6E6;
}

.cookie-processor__content__wrapper {
	background-color: #f3f0f0;

}

.cookie-sub-processors {
	background-color: rgb(42, 52, 65);
	color:#E6E6E6;
	padding: 1rem 2rem;
	margin-top:2rem;
}
.cookie-sub-processors__wrapper {
	display: flex;
	justify-content: space-around;
}
.cookie-sub-processors__wrapper h4 {
	min-width: 20%;
	font-family: monospace;
}
.cookie-sub-processors__wrapper p {
	width: 50ch;
	max-width: 50ch;
	font-size: .8rem;
}

.cookie-explanation {
	display: grid;
	place-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, .7);
}

.cookie-banner-link {
	background-color: blue;
	color: #fff;
}

.CookieCTA{
	display: flex;
	justify-content: flex-end;
}

.CookieButton{
	color: beige;
	background: linear-gradient(110deg, tomato, yellowgreen);
	border: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
	transition: all 500ms ease-in;
}

.CookieButton:hover{
	transform: scale(1.2);
	transition: all 500ms ease-in;
}

.CookieLocked {
  background-color:gray;
}
.CookieChoice {
  background-color: black;
}

.feature__background-wrapper{
	display: flex;
	gap: .5rem;	
}

.feature__background{
	height: 2rem;
	width: 2rem;
}
.feature__background:hover{
	transform: scale(1.2);
	transition: all 1s ease-in;
	transform: rotate(360deg);
}
.feature--background-orange{
	background-color: var(--orange);
}
.feature--background-blue{
	background-color: var(--blue);
}
.feature--background-green{
	background-color: var(--green);
}
.feature--background-red{
	background-color: var(--red);
}

.feature--current-active{
	border: 1.5px solid black;
}

.feature--current-inactive{
	opacity: 50%;
}

.settings__modal {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4rem;
}

.settings {
	display: flex;
	flex-direction: column;
}

.settings__icon {
	max-width: 3rem;
	display: block;
	cursor: grab;
	font-size: 3rem;
}

.settings__icon:hover {
	font-size: 4rem;
	transform: rotate(360deg);
	transition: all 500ms ease;
}